<nav class="nav-menu">
    <ul class="nav flex-column p-0">
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center px-3 py-2" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door me-3"></i>
                <span>Home</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center px-3 py-2" href="counter">
                <i class="bi bi-plus-square me-3"></i>
                <span>Counter</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center px-3 py-2" href="weather">
                <i class="bi bi-cloud-sun me-3"></i>
                <span>Weather</span>
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link d-flex align-items-center px-3 py-2" href="employees">
                <i class="bi bi-people me-3"></i>
                <span>Employees</span>
            </NavLink>
        </li>
    </ul>
</nav>

